body {
	background: #EEE url('../img/background1.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.container {
	width: 80%;
	margin:20px 10% auto 10%;
}

.greeting {margin: 1em;}
.greeting p:last-child {text-align: right;margin-top: 0.3em;}
