
.welcome {overflow: hidden;}
.welcome img {border-radius: 6px; float:left; margin: 2em;width: 160px;}
.welcome .greeting {float: left;width: 75%}


.newscontent {overflow: hidden;}
.newscontent img {width: 160px; background: #FFF;padding:1em;box-shadow: 3px 3px 20px black;border-radius: 6px; float: left;margin-right: 1em;}


.gallery img {width: 140px;}


.menu {overflow: hidden;margin: 1em;}
.menu img {float: left; margin: 0 1em;}


