
.welcome {overflow: hidden;}
.welcome img {border-radius: 6px; float:left; margin: 2em;width: 160px;}
.welcome .greeting {float: left;width: 75%}


.newscontent {overflow: hidden;}
.newscontent img {width: 160px; background: #FFF;padding:1em;box-shadow: 3px 3px 20px black;border-radius: 6px; float: left;margin-right: 1em;}

.gallery .menu {position: relative;}
.gallery .menu img {width: 140px;height: 100px}
.gallery .menu img:hover {width: 300px;height: 200px; position: absolute;left: -25px; top: -15px; z-index: 9000;}


.menu {overflow: hidden;margin: 1em;}
.menu img {float: left; margin: 0 1em;}


