* {padding: 0;margin: 0;}

body {font: 14px/1.5 Arial, sanf-serif}

header {font-family: Marck Script, sanf-serif;}
header nav {font: 14px/1.5 Arial, sanf-serif}

header h1 {font-size: 4em;text-align: center}
header h2 {font-size: 2em;text-align: center}
article h1 {font-size: 1.8em;}
article h2 {font-size: 1.5em;}
article h3 {font-size: 1.3em;}
footer {font-size: 12px}

.welcome h1,.welcome p {font-family: Marck Script, sanf-serif;}

.welcome h1 {font-size: 3em;}
.welcome p {font-size: 1.2em;} 


