header, section .welcome,
section #newsHome, .newsNews, #menupage, #ContactPage  {background: rgba(255, 255, 255, 0.8);margin: 0.5em; border-radius: 12px;}

footer {margin: 0.5em;border-top: 1px solid white;}

.welcome .greeting {margin: 1em;}
.welcome .greeting p:last-child {text-align: right;margin-top: 0.3em;}

section #newsHome {overflow: hidden;background: rgba(255, 255, 255, 0.8);background-image:  url('../img/white-line.jpg'),url('../img/white-line.jpg');background-repeat: repeat-y,repeat-y;background-position:33%,66%;}
section #newsHome .newsHome {float: left;width: 27%;margin: 2% 3%; }
section #newsHome .newsHome p {text-align: justify;}
section #newsHome .newsHome a {color: black}

#Page1, #Page2 {padding:2em 1em;}

.newscontent {margin: 1em;}
.newscontent h3 {margin-bottom: 0.5em;}

.gallery {background: rgba(255, 255, 255, 0.4) url('../img/menu.gif');background-repeat: repeat-y;background-size: 100% 590px; overflow: hidden;border-radius: 10px}

.gallery h2 {margin: 0.5em;}

#salad, #dessert, #Appetizer, #maincourse {display:block;margin: 1em;width: 47%;float: left;}


.address {margin: 1em;width:40%;}
.address i {margin-right: 0.5em;}

#map_canvas {width: 50%;height: 400px;margin: 1em;border: 3px solid white;}

#ContactPage {overflow: hidden;}
.address, #map_canvas {float: left;}

