header, section .welcome,
section #newsHome, .newsNews, #menupage  {background: rgba(255, 255, 255, 0.8);margin: 0.5em; border-radius: 12px;}

footer {margin: 0.5em;border-top: 1px solid white;}

.welcome .greeting {margin: 1em;}
.welcome .greeting p:last-child {text-align: right;margin-top: 0.3em;}

section #newsHome {overflow: hidden;}
section #newsHome .newsHome {float: left;width: 27%;margin: 2% 3%; }
section #newsHome .newsHome p {text-align: justify;}
section #newsHome .newsHome a {color: black}

#Page1, #Page2 {padding:2em 1em;}

.newscontent {margin: 1em;}
.newscontent h3 {margin-bottom: 0.5em;}

.gallery {background: rgba(255, 255, 255, 0.4) url('../img/menu.gif');background-repeat: repeat-y;background-size: 100% 590px; overflow: hidden;border-radius: 10px}

#salad, #dessert, #Appetizer, #maincourse {display:block;margin: 1em;padding-top: 2em;width: 47%;float: left;}

.gallery .menu p {width: 400px}
.gallery .menu p:last-child {font-style: italic !important;}
